<h1>Editing Channel</h1>

<%= render 'form', channel: @channel, edit: true %>

<%= link_to 'Back', @channel, class: "btn btn-success" %>
<%= link_to 'Destroy', @channel, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
