<<<<<<< HEAD
<div id="dplayer">
</div>
<a id="local-player" href="/hls/<%= @channel.name %>/index.m3u8"></a>
=======
<video width="1280" height="720" id="my-player" class="video-js" controls preload="auto" data-setup='{}'>
  <source src="/hls/<%= @channel.name %>/index.m3u8" type="application/x-mpegURL"></source>
  <p class="vjs-no-js"></p>
</video>
>>>>>>> parent of 78e54b6... Use Dplayer.
