
<div class="embed-responsive embed-responsive-16by9">
    <video id="my-player" class="video-js embed-responsive-item" controls autoplay preload="auto" data-setup='{}'>
      <source src="<%= ENV[ 'HLS_PATH' ] %>/<%= @channel.name %>/index.m3u8" type="application/x-mpegURL" />
      <p class="vjs-no-js"></p>
    </video>
</div>